@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,700&display=swap');

:root {
    --maximum-blue-green_10: hsla(185, 75%, 45%, 0.1);
    --rich-black-fogra-29: hsl(217, 28%, 9%);
    --gray-x-11-gray: hsl(0, 0%, 74%);
    --oxford-blue_60: hsla(230, 41%, 14%, 0.6);
    --bittersweet: hsl(5, 100%, 69%);
    --smoky-black: rgb(7, 6, 1);
    --gainsboro: hsl(0, 0%, 88%);
    --black_90: hsla(0, 0%, 0%, 0.9);
    --cultured: hsl(200, 12%, 95%);
    --salmon: hsl(5, 100%, 73%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --onyx: hsl(0, 0%, 27%);
    --fs-1: 3rem;
    --fs-2: 2.6rem;
    --fs-3: 2.2rem;
    --fs-4: 2rem;
    --fs-5: 1.8rem;
    --fs-6: 1.6rem;
    --fs-7: 1.4rem;
    --fs-8: 1.2rem;
    --fw-300: 300;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;
    --cubic-out: cubic-bezier(0.51, 0.03, 0.64, 0.28);
    --cubic-in: cubic-bezier(0.33, 0.85, 0.56, 1.02);
    --section-padding: 60px;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'poppins', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

a,
img,
span,
table,
tbody,
button,
ion-icon {
    display: block;
}

img {
    max-width: 100%;
}

/*comiezo*/

header {
    display: flex;
    align-items: center;
    padding: 30px;
    justify-content: center;
}

.imgLogo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.container-title {
    padding: 30px;
    background-color: #eee;
    margin-bottom: 50px;
    color: #222;
}

main {
    max-width: 1290px;
    margin: 0 auto;
    width: 1290px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    margin-bottom: 80px;
}

.container-img {
    width: 600px;
    height: 500px;
    background-color: #f7f7f9;
    flex: 1;
}

.container-img #productImage{
    width: 600px;
    height: 500px;
}

.container-info-product {
    position: relative;
    width: 690px;
    display: flex;
    flex-direction: column;
}

.container-price {
    padding-bottom: 20px;
    border-bottom: 1px solid #e4e4e4;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-price span {
    font-size: 24px;
    font-weight: 300;
}

.container-details-product {
    padding: 30px 0;
}

.form-group {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 15px;
    flex-wrap: wrap;
}

.form-group label {
    width: 100px;
    color: #222;
    font-weight: 700;
}

.form-group .from__colors {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s;
}

.form-group .from__colors .colorText {
    border-radius: 50%;
}


#color1{
    background-color: #FAF6AD;
}

#color2{
    background-color: #E4E2EF;
}

#color3{
    background-color: #6AE0B0;
}

#color4{
    background-color: #FFDAD2;
}

#color5{
    background-color: #CDEEE7;
}

#color6{
    background-image: url("../imgProduct/textura1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#color7{
    background-image: url("../imgProduct/textura2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.form-group .from__tallas{
    padding: 10px;
    border: 1px solid black;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
}

.btn-clean {
    border: none;
    background: none;
    color: #666;
    margin-left: 120px;
    cursor: pointer;
}

.btn-clean:hover {
    color: #1bbeb4;
}

.container-add-cart {
    display: flex;
    gap: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid #e4e4e4;
}

.container-quantity {
    position: relative;
}

.input-quantity {
    background-color: #f7f7f7;
    border: none;
    padding: 10px;
    width: 60px;
    height: 100%;
    color: #666;
    font-weight: 500;
    line-height: 0;
}

.input-quantity:focus {
    outline: none;
}

.input-quantity::-webkit-inner-spin-button,
.input-quantity::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
}

.btn-increment-decrement {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 7px;
    right: 7px;
}

.btn-increment-decrement i {
    font-size: 11px;
    color: #666;
    cursor: pointer;
}

.fa-chevron-down:hover {
    color: #1bbeb4;
}

.fa-chevron-up:hover {
    color: #1bbeb4;
}

.btn-add-to-cart {
    border: none;
    background-color: #2691a9;
    padding: 10px;
    color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-weight: 700;
    cursor: pointer;
}

.btn-add-to-cart:hover {
    color: #1bbeb4;
}

.hidden {
    display: none;
}

.container-description,
.container-additional-information,
.container-reviews {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #e4e4e4;
    padding: 10px 0;
}

.title-description,
.title-additional-information,
.title-reviews {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.title-description h4,
.title-additional-information h4,
.title-reviews h4 {
    font-weight: 300;
    color: #666;
    font-size: 14px;
}

.text-description,
.text-additional-information,
.text-reviews {
    font-size: 13px;
    color: #252525;
    line-height: 22px;
    margin-top: 25px;
}

.container-social {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    align-items: center;
    border-bottom: 1px solid #e4e4e4;
}

.container-social span {
    font-weight: 300;
    color: #252525;
}

.container-buttons-social {
    display: flex;
    gap: 15px;
    align-items: center;
}

.container-buttons-social a:link,
.container-buttons-social a:visited {
    color: #666;
    font-size: 15px;
}

.container-buttons-social a:hover {
    color: #1bbeb4;
}

.container-related-products h2 {
    text-align: center;
    margin-bottom: 30px;
}

.card-list-products {
    max-width: 1290px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    margin-bottom: 30px;
}

.card-img img {
    max-width: 100%;
    height: 350px;
    object-fit: cover;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.card {
    cursor: pointer;
}

.card-img {
    background: transparent;
    margin-bottom: 15px;
}

.info-card {
    display: flex;
    justify-content: space-between;
}

.text-product {
    color: #252525;
    font-weight: 300;
    line-height: 1.4;
}

.text-product h3 {
    color: inherit;
    font-weight: inherit;
    font-size: 15px;
}

.text-product h3:hover {
    color: #1bbeb4;
}

.text-product p {
    color: #666;
    font-size: 13px;
}

.text-product p:hover {
    color: #1bbeb4;
}

.footer-top {
    background: var(--cultured);
}

.footer-brand {
    padding-bottom: 50px;
    border-bottom: 1px solid var(--gainsboro);
    margin-bottom: 50px;
}

.footer-brand .logo {
    margin-bottom: 15px;
}

.social-list {
    display: flex;
    align-items: center;
    gap: 8px;
}

.social-link {
    background: var(--gainsboro);
    color: var(--onyx);
    font-size: 20px;
    padding: 10px;
    transition: var(--transition-1);
}

.social-link:is(:hover, :focus) {
    background: var(--bittersweet);
    color: var(--white);
}

.footer-list-title {
    position: relative;
    color: var(--rich-black-fogra-29);
    font-size: var(--fs-3);
    font-weight: var(--fw-700);
    margin-bottom: 25px;
}

.footer-list-title::after {
    content: "";
    display: block;
    background: var(--bittersweet);
    width: 50px;
    height: 2px;
    margin-top: 10px;
}

.footer-link {
    color: var(--onyx);
    display: flex;
    align-items: center;
    gap: 10px;
    padding-block: 6px;
    transition: var(--transition-1);
}

a.footer-link:is(:hover, :focus) {
    color: var(--bittersweet);
}

.footer-link-text {
    flex: 1;
}

.footer-list:not(:last-child) {
    margin-bottom: 30px;
}

.footer-list:first-child ion-icon {
    color: var(--bittersweet);
    font-size: 22px;
}

.table-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    padding-block: 6px;
}

.table-head {
    color: var(--rich-black-fogra-29);
    font-weight: var(--fw-500);
}

.table-data {
    color: var(--onyx);
}

.newsletter-text {
    color: var(--onyx);
    line-height: 1.7;
    margin-bottom: 20px;
}

.newsletter-form {
    position: relative;
}

.newsletter-input {
    background: var(--white);
    color: var(--onyx);
    padding: 15px 25px;
    padding-right: 120px;
}

.newsletter-form .btn-primary {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    font-size: var(--fs-6);
    font-weight: var(--fw-600);
    padding-inline: 20px;
}

.footer-bottom {
    background: var(--rich-black-fogra-29);
    padding-block: 20px;
}

.copyright {
    text-align: center;
    color: var(--white);
}

.copyright-link {
    display: inline-block;
    color: var(--bittersweet);
}

.go-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: var(--bittersweet);
    color: var(--white);
    font-size: 20px;
    padding: 10px;
    border: 4px solid var(--white);
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition-1);
    z-index: 2;
}

.go-top-btn.active {
    opacity: 1;
    visibility: visible;
}

.go-top-btn:is(:hover, :focus) {
    background: var(--salmon);
}

.btn-add-to-cart a{
    color: #f7f7f7;
}

@media only screen and (max-width: 768px) {
    .from__colors {
        width: 30px; /* Ajusta el ancho de los colores */
        height: 30px; /* Ajusta la altura de los colores */
    }
    
    .from__tallas {
        font-size: 12px; /* Ajusta el tamaño de la fuente de las tallas */
    }

    .form-group {
        width: auto;
    }

    .form-group label {
        width: auto; /* Ancho automático para ocupar el espacio necesario */
    }

    .form-group .from__colors {
        margin-bottom: 10px; /* Espacio entre los colores y las tallas */
    }
}

@media only screen and (max-width: 576px) {
    .from__colors {
        width: 20px; /* Reducir aún más el tamaño de los colores */
        height: 20px;
    }
    
    .from__tallas {
        font-size: 10px; /* Reducir más el tamaño de la fuente de las tallas */
    }

    .form-group .from__colors,
    .form-group .from__tallas {
        font-size: 12px; /* Reduce el tamaño de la fuente de colores y tallas */
    }
}

@media (max-width: 1200px) {
    main {
        justify-content: center;
    }

    .container-info-product{
        width: 560px;
    }
}

@media (max-width:900px) {
    .container-info-product{
        width: 800px;
    }

    .container-img{
        width: 300px;
        margin: 0 auto;
        display: contents;
    }

    .container-img img{
        width: 300px;
    }
}

@media (min-width: 575px) {

    :root {
        --fs-1: 4rem;

    }

    .footer-brand .logo {
        margin-bottom: 0;
    }

    .footer-brand {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer-link-box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;
    }
}

@media (min-width: 1200px) {
    :root {
        --fs-1: 5rem;
        --fs-2: 3.6rem;

    }

    .footer-link-box {
        grid-template-columns: 1.5fr 1fr 1fr 1.5fr;
        gap: 50px;
    }
}